 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Izal Ortega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="icon" type="image/ico" href="ninja-fav.png" />
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>
<body>

    <div class="main-body">
        <div class="name-title">
            <h4>Izal Ortega</h4><br>
            <h4>Front-end Web Developer</h4>
            <nav class="header-nav">
                <a href="/work.html">Work</a>
                <a href="/contact.html">Contact</a>
                <a href="/about.html">About</a>
            </nav>
        </div>

        <div class="grid-images">
            <div class="container about " id="button">
                    <div class="overlay about-info">
                    <div class="text about-info">
                        <p>Hey There, My name is Izal. I'm a 
                        Web Developer in Training, looking to expand my skills and build exciting projects..</p>
                        <a href="/about.html"><button class="btn">About</button></a>
                    </div>
                 </div>
             </div>

             <div class="container work ">
                    <div class="overlay work-pro">
                    <div class="text work-pro">
                        <p>This are some of the projects I have done
                            in my spare time. It Includes Web Apps && Website Templates
                        </p>
                        <a href="/work.html"><button class="btn">Work</button></a>
                    </div>
                 </div>
             </div>
             
             <div class="container blog ">
                    <div class="overlay blog-info">
                    <div class="text">
                        <p>Upcoming Blog, documenting the
                         journey as an upcoming web developer. All the roadblocks
                         and victories will be posted here.
                        </p>
                        <a href="#" onclick="return false;"><button class="btn">Coming Soon</button></a>
                    </div>
                 </div>
             </div>

             <div class="container contact ">
                    <div class="overlay contact-info hover">
                    <div class="text">
                        <p>Feel free to look at my resume || Shoot me 
                        an email 
                        </p>
                        <a href="/contact.html"><button class="btn">Contact</button></a>
                    </div>
                 </div>
             </div>

        </div>
    </div>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <script src="js/index.js"></script>
    
</body>
</html>